.tag
{
    margin-top: 0;
}
@media(min-width:50rem){
.main
{
    display: grid;
    padding: 15px;
    gap: 2rem;
    grid-template-columns:repeat(4,1fr) ;
}}
.name
{
    margin-bottom: 0;
}
.content1,.content2,.content3,.content4,.content5
{
padding: 15px;
}
.b1{
    
   /* max-width: 50%;*/
   grid-column: span 2;
    border-radius: 15px;
    background-color: rgb(104, 112, 255);
    
}
.b2,.b5{
    border-radius: 15px;
    background-color: rgb(169, 113, 189);
    
}
.b3{
    border-radius: 15px;
    background-color: rgb(80, 76, 80);
    
}
@media(min-width:50rem){

.b4{    grid-column: span 2;
    border-radius: 15px;
    background-color: rgb(255, 202, 255);
}  
}

.b5{   
grid-column-start:4;
grid-row-start:1 ;
grid-row-end: span 2;/* grid-row-end:3 ; */
}
/* or grid-row:1/span 2; */
